@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(input) {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    @apply bg-amber-400 overflow-x-hidden;
}

.react-datepicker__input-container input {
    @apply w-full outline-none ring-2 rounded-md p-2 ring-amber-400;
}

.pswp__img {
    object-fit: contain !important;
}

.singleDeclaration {
    @apply rounded-md overflow-hidden;
}

.singleDeclaration .rpv-default-layout__container {
    @apply border-none;
}
